@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

nav{
    width: 100%;
    height: 10vh;
    position: sticky;
}

.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.logo span{
    color: #0a7b33;
    text-shadow: 0 0 10px #0a7b33;
}


.cancel{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    display: none;
    font-size: clamp(2.5rem, 0.5rem + 5vw, 3rem);
}

.nav-container .links{
    display: flex;
}

.nav-container .links a{
    position: relative;
    font-size: 1.2rem;
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}

.nav-container .links a::before{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #0a7b33;
    transition: 0.2s linear;
}

.nav-container .links a:hover::before{
    width: 100%;
}

.nav-container .links a:hover{
    color: #0a7b33;
}

section{
    width: 100%;
    height: 90vh;
}

.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-container .image {
    width: 250px; 
    height: 250px; 
    border-radius: 50%; 
    overflow: hidden; 
    box-shadow: 0 0 50px #0a7b33; 
    margin: 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.main-container .image img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}


.main-container .image:hover{
    animation: animate 1.5s ease-in-out infinite;
}

@keyframes animate {
    0%{
        scale: 1;
    }
    
    50%{
        scale: 1.05;
    }
    
    100%{
        scale: 1;
    }
}

.main-container .content{
    color: white;
    width: 40%;
    min-height: 100px;
}

.content h1{
    font-size: clamp(1rem, 1rem + 5vw, 1.8rem);
}

.content h1 span{
    color: #0a7b33;
    text-shadow: 0  0 10px #0a7b33;
}

.content .typewriter{
    font-size: clamp(1rem, 1rem + 5vw, 2.5rem);
    font-weight: 600;
}

.content .typewriter-text{
    color: #0a7b33;
    text-shadow: 0 0 10px #0a7b33;
}

.content p{
    font-size: clamp(0.4rem , 0.2rem + 9vw, 1rem);
    margin: 10px 0;
}

.social-links i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid #0a7b33;
    border-radius: 50%;
    color: #0a7b33;
    margin: 30px 15px;
    font-size: 1.5rem;
    transition: 0.2s linear;
}

.social-links i:hover{
    scale: 1.3;
    color: black;
    background-color: #0a7b33;
    filter: drop-shadow(0 0 10px #0a7b33);
}

.content button{
    width: 50%;
    height: 6vh;
    margin: 30px;
    background-color: #0a7b33;
    color: white;
    border: none;
    outline: none;
    font-size: 120%;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.2s linear;
}

.content button:hover{
    scale: 1.1;
    color: #0a7b33;
    border: 2px solid #0a7b33;
    background-color: transparent;
    font-weight: 700;
    box-shadow: 0 0 40px #0a7b33;
}


body {
    overflow-y: auto; 
}

@media (max-width: 884px) {
    nav .logo {
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;
    }

    .main-container {
        display: flex;
        flex-direction: column;
    }

    .nav-container .links {
        display: none;
    }
    .main-container .content {
        width: 80%;
    }

    .social-links i {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }

    .main-container .image {
        z-index: -1;
        width: 70%; 
        height: 70%; 
        border-radius: 50%; 
        overflow: hidden; 
    }
}

@media (max-width: 440px) {
    .main-container .image {
        width: 70%;
        height: 70%; 
        margin-bottom: 0px;
        border-radius: 50%; 
        overflow: hidden; 
        display: flex; 
        justify-content: center; 
        align-items: center; 
    }

    .main-container .content {
        width: 80%;
    }

    .main-container button {
        margin-top: 15px;
    }
}

body {
    background-color: #000; 
    color: white; 
}

nav .links a {
    color: white; 
}


body {
    background-color: #000;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.about-section {
    background-color: #000;
    color: white;
    padding: 40px 20px;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s forwards ease-in-out;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap;
    padding: 150px;
    opacity: 0;
    animation: fadeInUp 1.2s forwards ease-in-out 0.5s;
    width: 100%;  
}

.about-image img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px;
    transition: transform 0.3s ease;
}

.about-image img:hover {
    transform: scale(1.05);
}

.about-content {
    max-width: 600px;
    padding-left: 20px;
    text-align: left;
    opacity: 0;
    animation: fadeIn 1s forwards ease-in-out 0.7s;
}

.about-container h1, .about-container p {
    color: white;
    opacity: 0;
    animation: fadeIn 1s forwards ease-in-out 0.5s;
}


.social-links a {
    color: white;
    text-decoration: none; 
}

.social-links a:hover {
    color: #ddd;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
        padding: 30px; 
    }

    .about-image img {
        width: 150px; 
        height: 150px;
    }

    .about-content {
        text-align: center; 
        padding-left: 0;
        padding-right: 0; 
    }
}

@media (max-width: 480px) {
    .about-image img {
        width: 120px; 
        height: 120px;
    }

    .about-section {
        padding: 30px 10px; 
    }
}


.skills-section {
    padding: 60px 20px;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s forwards ease-in-out; 
}

.skills-section h1 {
    margin-bottom: 40px;
    font-size: 2.5rem;
    color: #fff;
    opacity: 0;
    animation: slideDown 1.2s forwards ease-in-out 0.3s; 
}

.skills-container {
    display: flex;
    justify-content: flex-start; 
    flex-wrap: wrap;
    gap: 20px;
    max-width: 80%;
    margin: 0 auto;
    opacity: 0;
    animation: fadeInUp 1.2s forwards ease-in-out 0.5s; 
}

.skill-box {
    background-color: #1e1e1e; 
    width: calc(16.66% - 20px); 
    min-width: 150px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    overflow: hidden;
}

.skill-box:hover {
    transform: translateY(-7px); 
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.2); 
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.skill-box i {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}



.skill-box p {
    font-size: 1.2rem;
    color: #fff;
    margin: 0;
    transition: color 0.3s ease;
}

.skill-box:hover p {
    color: #ccc; 
}

@keyframes fadeInUp {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .skills-container {
        max-width: 100%;
    }

    .skill-box {
        width: calc(25% - 20px); 
        height: 120px;
        transition: transform 0.25s ease-in-out;
    }

    .skill-box i {
        font-size: 2.5rem;
    }

    .skill-box p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .skills-container {
        max-width: 100%;
        gap: 10px;
    }

    .skill-box {
        width: calc(50% - 10px); 
        height: 100px;
        transition: transform 0.2s ease-in-out;
    }

    .skill-box i {
        font-size: 2rem;
    }

    .skill-box p {
        font-size: 0.9rem;
    }

    .skill-box:hover {
        transform: scale(1.1); 
    }
}

body {
    overflow-y: auto;
}





* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}

nav {
    width: 100%;
    height: 10vh;
    position: sticky;
    background-color: rgba(0, 0, 0, 0.8);
}

.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-item {
    margin-right: 20px; 
}



.logo {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.logo span {
    color: #0a7b33;
    text-shadow: 0 0 10px #0a7b33;
}

.links {
    display: flex;
}

.links .link {
    margin: 0 15px;
}

.links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.links a:hover {
    color: #0a7b33;
}

.services-section {
    padding: 60px 20px;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s forwards ease-in-out;
}

.services-section h1 {
    margin-bottom: 40px;
    font-size: 2.5rem;
    color: white;
    opacity: 0;
    animation: slideDown 1.2s forwards ease-in-out 0.3s;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto; 
    opacity: 0;
    animation: fadeInUp 1.2s forwards ease-in-out 0.5s;
}

.service-box {
    background-color: #222;
    width: calc(33.33% - 20px); 
    min-width: 250px;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.service-box:hover {
    transform: translateY(-7px);
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.2);
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.service-box i {
    font-size: 3rem;
    color: #0a7b33;
    margin-bottom: 10px;
}

.service-box h2 {
    margin: 10px 0;
    color: white;
    font-size: 1.5rem;
}

.service-box p {
    font-size: 1rem;
    color: white;
}

@media (max-width: 768px) {
    .services-container {
        max-width: 100%;
        justify-content: center; 
    }

    .service-box {
        width: calc(50% - 20px); 
    }
}

@media (max-width: 480px) {
    .services-container {
        max-width: 100%;
        justify-content: center; 
    }

    .service-box {
        width: calc(100% - 10px); 
    }

    .service-box:hover {
        transform: scale(1.1);
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}

nav {
    width: 100%;
    height: 10vh;
    position: sticky;
    background-color: rgba(0, 0, 0, 0.8);
}

.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.logo span {
    color: #0a7b33;
    text-shadow: 0 0 10px #0a7b33;
}

.links {
    display: flex;
}

.links .link {
    margin: 0 15px;
}

.links a {
    color: white;
    text-decoration: none; 
    transition: color 0.3s;
    border-bottom: none;
}

.links a:hover {
    color: #0a7b33;
}

.contact-section {
    padding: 20px;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s forwards ease-in-out; 
}

.contact-section h1 {
    margin-bottom: 30px;
    font-size: 2.5rem;
    opacity: 0;
    animation: slideDown 1.2s forwards ease-in-out 0.3s; 
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    opacity: 0;
    animation: fadeInUp 1.2s forwards ease-in-out 0.5s; 
}

.contact-box {
    width: 200px; 
    height: 200px; 
    background-color: #444;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none; 
    opacity: 0;
    animation: fadeInUp 1.2s forwards ease-in-out 0.7s; 
}

.contact-box:hover {
    transform: translateY(-10px); 
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.3); 
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.contact-box i {
    font-size: 2.5rem;
    color: #0a7b33;
    margin-bottom: 10px;
    transition: color 0.3s ease; 
}

.contact-box p {
    font-size: 1rem;
    color: white;
    transition: transform 0.3s ease; 
}

.contact-box:hover p {
    transform: translateY(-5px); 
}

body {
    overflow-y: auto; 
}


@keyframes fadeInUp {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes slideDown {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .contact-box {
        width: 120px;
        height: 120px;
    }

    .contact-box i {
        font-size: 2.5rem;
    }

    .contact-box p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .contact-box {
        width: 100px;
        height: 100px;
    }

    .contact-box i {
        font-size: 2rem;
    }

    .contact-box p {
        font-size: 0.9rem;
    }

    .contact-box:hover {
        transform: scale(1.5); 
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; 
    color: white; 
    overflow-x: hidden; 
}

nav {
    background-color: transparent;
}

.repositories-section {
    padding: 50px;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s forwards ease-in-out; 
}

.repositories-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start; 
    margin-top: 30px; 
    opacity: 0;
    animation: slideUp 1.2s forwards ease-in-out 0.5s; 
}

.repository-box {
    background-color: #1e1e1e; 
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1); 
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s; 
    width: calc(33.33% - 20px); 
    min-width: 250px; 
    margin: 10px; 
    overflow: hidden;
    text-align: left; 
    opacity: 0;
    animation: fadeInUp 0.5s forwards ease-in-out 0.8s; 
}

.repository-box:hover {
    transform: translateY(-10px); 
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2); 
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
}

.repository-title {
    font-weight: bold; 
    font-size: 20px; 
    margin: 0;
}

.repository-description {
    margin: 10px 0; 
}

.repository-link {
    text-decoration: none; 
    color: #61dafb; 
    font-weight: bold; 
    transition: color 0.2s; 
}

.repository-link:hover {
    color: #21a1f1; 
}


@keyframes slideUp {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes fadeInUp {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@media (max-width: 768px) {
    .repository-box {
        width: calc(50% - 20px); 
    }
}

@media (max-width: 480px) {
    .repository-box {
        width: calc(100% - 20px); 
    }
}



body {
    cursor: url('ani1053.cur'), auto; 
}

button {
    cursor: pointer; 
}

a {
    cursor: pointer; 
}

.repository-box {
    cursor: crosshair; 
}

input[type="text"] {
    cursor: text;
}

.default-cursor {
    cursor: auto;
}

.repository-box:hover {
    cursor: url('ani1053.cur'), pointer; 
}

.navbar a:hover {
    cursor: url('ani1053.cur'), pointer; 
}

